name: Build MKDocs website

on:
  pull_request:
    branches: ["devel"]
    types: [opened, closed]
    paths:
      - 'docs/**/**'
      - 'mkdocs.yml'

jobs:
  build-and-deploy:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x 

      - name: Install dependencies
        run: pip install mkdocs mkdocs-material[imaging]

      - name: Build MkDocs
        run: mkdocs build

      - name: Deploy to GitHub Pages
        run: |
           mkdocs gh-deploy --force
           git push origin gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}